<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="full-screen" content="yes">
    <!-- <meta name="x5-fullscreen" content="true"> -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>课程列表</title>

    <!--无考试方向 执业医师、执业药师 -->


    <!--flexible布局  -->
    <script src="../../js/flexible.js"></script>
    <!--公共引用-->
    <script src="../../js/jquery-2.1.4.js"></script>
    <script src="../../js/index_top.js"></script>
    <link rel="stylesheet" href="../../plug/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../../plug/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/course/course_index.css">
    <link rel="stylesheet" href="../../css/course/listofcourses.css">
</head>
<body>
<div id="app_body"  v-cloak>
    <div class="nav__top">
        <!--暂时的头部-->
        <img class="nav__top_left" src="../../img/course/return_03_03.png" alt="" @click="back">
         免费课程

    </div>

    <div class="listofcourses_nav">
        <ul class="listofcourses_nav_ul">
            <li :class="{'listofcourses_nav_ul_li':current_tab==index}" v-on:click="tab_check(index)"
                v-for="(data,index) in tab_list">
                <p>
                    {{data.name}}
                </p>
                <span>
                </span>
            </li>
        </ul>
    </div>



    <ul class="listofcourses_ul" >

        <li v-for="data in data_list_free"  @click="jump2detail(0,0,data.course_id,data.is_free)">
            <div class="listofcourses_div">
                <img class="listofcourses_img" :src="data.course_thumb" alt="">
                <div class="listofcourses_right">
                    <h4 class="listofcourses_right_h4">
                        {{data.course_type_name}} {{data.course_name}}
                    </h4>
                    <div class="listofcourses_divdiv">
                        <p class="listofcourses_div_p">
                            {{data.teacher_name}} {{data.teacher_unit}}
                        </p>

                    </div>
                    <div class="listofcourses_divdiv">
                        <!-- <p class="listofcourses_div_p">
                            <span> 时长：</span>已更新{{formatHour(data.time_num)}}小时{{data.subject_num==undefined?"":"/"+data.subject_num+"节课"}}
                        </p> -->
                        <p class="listofcourses_div_p2">
                            {{data.sale_num==undefined?"":data.sale_num+"人购买"}}
                        </p>
                    </div>
                    <div class="listofcourses_bottom">
                        <p>免费</p>
                        <span class="listofcourses_bottom_span">立即学习</span>
                    </div>
                </div>
            </div>
        </li>


    </ul>





</div>
</body>
<!--layui框架.js-->
<script src="../../plug/layui/layui.js"></script>
<!--vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--插入页面元素统一JS-->
<script src="../../js/index_footer.js"></script>

<script type="text/javascript">

//    checkUserState(true);

    var app = new Vue({
        el: '#app_body',
        data: {
            page_flag: 1,//3为国医经典，4为卫生管理
            data_list_buy: [],//已购买的数组
            shopcar_num:0,//购物车数量
            data_list: [{

                "course_price": "",
                "course_thumb": "",
                "course_type": "",
                "course_type_describe": "",
                "course_type_name": "",
                "direction_name": "",
                "price_sum": "",
                "question_num": "",
                "time_num": ""

            }], tab_list: [
                {name: "执业医师", index: 0},
                {name: "执业药师", index: 1},
                {name: "中医师承", index: 2},
                // {name: "卫生管理", index: 3}
            ], current_tab: 0,
            data_list_free:[]//免费课程

        },
        methods: {
            back(){
                union_back();
            }, tab_check(index)
            {

                this.current_tab = index;
                switch (index)
                {
                    case 0:
                       this.init(1);
                        break;
                    case 1:
                        this.init(2);
                        break;
                    case 2:
                        this.init(3);
                        break;
                    case 3:
                        this.init(4);
                        break;
                }
                console.log(this.current_tab)
            },
            to_buy(id){
                yaqooNetPost("Cart/add", {
                    "course_id": id,
                    "spec_key": 1
                }, function (data) {
                    if (data.code == 1000) {
                        alert(data['message'])
                    }
                }, false)

            }, formatHour(s){

                return (s / 3600).toFixed(1);

            },init(flag)
            {


                yaqooNetPost('https://kangaroo.daishumed.com/index.php/Course/index',{ list_type:flag,is_free:1}, function (data) {

                    if (data['code'] == 1000) {
                        app.data_list_free = data['data'];
                    }
                });

            }
        }
    });

    app.page_flag=1;
    app.init(1);




</script>
</html>