<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="full-screen" content="yes">
    <!-- <meta name="x5-fullscreen" content="true"> -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>注册</title>
    <!--flexible布局-->
    <script src="../../js/flexible.js"></script>
    <!--公共引用-->
    <script src="../../js/jquery-2.1.4.js"></script>
    <script src="../../js/index_top.js"></script>
    <script src="../../js/regular.js"></script>
    <link rel="stylesheet" href="../../plug/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../../plug/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/index.css">
    <!--本页面引入-->
    <link rel="stylesheet" href="../../css/login/login_account.css">
    <!--land页面引入-->
    <!--<link rel="stylesheet" href="../../css/login/land.css">-->
</head>
<body>
<div id="app_body"  v-cloak>
    <div class="nav__top">
        <!--暂时的头部-->
        <img v-on:click="to_back" class="nav__top_left" src="../../img/company_info/return_03.png" alt="">
        登录注册
    </div>
    <div class="login_head">
        <div class="login_head_div">
            <p>
                注册账号
            </p>
        </div>
    </div>
    <div class="login_account">
        <ul class="login_account_ul">
            <li>
                <input v-model="tel" placeholder="请使用手机号作为登录用户名" type="text">
            </li>
            <li v-if="!is_showGetCode" class="login_account_ul_li">
                <div class="login_account_ul_li_div">
                    <input v-model="graphic_code" v-on:input="g_code_change" placeholder="图形验证码" type="text">
                </div>
                <div v-on:click="change_g_code" class="login_account_ul_li_img">
                    <canvas id="mycanvas" width='200' height='100'>
                        您的浏览器不支持canvas，请换个浏览器试试~
                    </canvas>
                </div>
            </li>
            <!--<li>-->
                <!--<input v-model="user_name" placeholder="用户名" type="text">-->
            <!--</li>-->
            <li v-if="is_showGetCode" class="login_account_ulli">
                <input class="login_account_input" placeholder="验证码" v-model="r_code" type="text">
                <span v-bind:is-ok="is_ok" class="login_account_span" v-on:click="time">获取验证码</span>
            </li>
            <li v-if="is_showGetCode">
                <input v-model="pwd" placeholder="请输入6-16位数字和字母结合的密码" type="password">
            </li>
        </ul>
        <div class="login_account_div">
            <div v-on:click="agree" v-model="read_check" class="login_account_left">
                <img src="../../img/login/xuanze_03.png" alt="">
            </div>
            <p class="login_account_div_p">我已阅读并同意 <a href="##">《服务协议》</a></p>
        </div>
    </div>
    <div v-on:click="resign_click" class="register">
        注册
    </div>
    <a v-on:click="to_land" href="##">
        <p class="up_login">
            已有账号，马上去登录
        </p>
    </a>
    <!--<div class="third_party">-->
        <!--<span>第三方免注册登录</span>-->
    <!--</div>-->
    <!--<img class="third_party_img2" src="../../img/login/wexin_09.png" alt="">-->
    <!--<img class="third_party_img" src="../../img/login/QQ_img_03.png" alt="">-->
</div>
</body>
<!--layui框架.js-->
<script src="../../plug/layui/layui.js"></script>
<!--vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--插入页面元素统一JS-->
<script src="../../js/index_footer.js"></script>
<script src="../../js/login/login_account.js"></script>
<!--图形验证码.js-->
<script src="../../js/graphic_veriry.js"></script>
<script>

    //新建vue对象
    var vm = new Vue({
        el: '#app_body',
        data: {
            is_ok: 'true',
            tel: '',
            pwd: '',
            r_code: '',
            read_check: 1,
            receive_code: '',
            is_showGetCode:0,//是否显示获取验证码
            graphic_code:'',//输入的图形验证码
            sms_id:''//验证码分配id 验证需要
        },
        methods: {
            //阅读， 服务协议
            agree(){
                //当前元素 显示隐藏
                $(event.currentTarget).find('img').toggle(200);
                this.read_check = !this.read_check;
            },
            //倒计时
            time(){
                if (!checkTel(this.tel)) {
                    alert('请输入正确格式的手机号');
                    return;
                }
                if (this.is_ok == 'true') {
                    send_code(this.tel);
                    var new_time = 60;
                    var this_data = $(event.currentTarget);
                    var this_this = this;
                    this.is_ok = 'false';
                    var clock = setInterval(function () {
                        //倒计时 并存储
                        --new_time;
                        if (new_time <= 0) {
                            this_data.html('获取验证码');
                            this_this.is_ok = 'true';
                            clearInterval(clock);

                        } else {
                            this_data.html(new_time + '秒后发送');
                        }
                    }, 1000)
                } else {
                    console.log(this.is_ok);
                    //return;
                }
            },
            //点击注册
            resign_click(){
                send_resign_request(this.tel, this.pwd, this.r_code);
            },

            //跳转登录
            to_land(){
                window.location.href = 'land.html';
            },

            //返回上个界面
            to_back(){
                union_back();
            },

            //点击验证码
            change_g_code(){
                get_random_g_v();
            },
            //监听图形验证码输入变化
            g_code_change(){
                if(vm.graphic_code.length == 4){
                    if(get_g_v_code() == vm.graphic_code){
                        vm.is_showGetCode = 1;
                    }else {
                        vm.is_showGetCode = 0;
                        get_random_g_v();
                    }
                }
            }
        }
    })

    //发送验证码网络请求
    function send_code(tel) {
        yaqooNetPost('User/send_code', {username: tel}, function (data) {
            if (data['code'] == 1000) {
                alert('发送成功')
                vm.receive_code = data["phone_code"];
                vm.sms_id = data['sms_id'];
            } else {
                alert('发送失败')
            }
        })

    }

    //  验证输入并发送注册网络请求
    function send_resign_request(tel, pwd, r_code) {
        //验证
        if (!vm.read_check) {
            alert('请选择同意服务协议')
            return;
        }
        if (!checkTel(tel)) {
            alert('请输入正确格式的手机号')
            return;
        }
        if (!Validator_PassWord(pwd)) {
            alert('请输入正确格式的密码')
            return;
        }
        if (!Verification(r_code) || !(vm.r_code == vm.receive_code)) {
            alert('验证码错误')
            return;
        }
        //发送网络请求
        var para = {
            username: tel,
            password: pwd,
            sms_status:'1',
            sms_code:vm.r_code,
            sms_id:vm.sms_id
        };
        yaqooNetPost('User/user_register', para, function (data) {
            console.log(data);
            if (data['code'] == 1000) {
                setToken(data['token']);
                setTel(tel);
                alert('注册成功')
                window.location.href = '../index.html';
            } else {

                alert(data['message']);
            }
        })
    }


</script>
</html>