
.password {
    width: 100%;
    margin-top: .2rem;
    overflow: hidden;
    position: relative;
    background: #fff;
}

.password_ul {
    margin-left: .2rem;
    overflow: hidden;
    position: relative;
    font-size: .33rem;
    color: #999999;
}

.password_ul li {
    padding: .3rem 0;
    overflow: hidden;
    border-bottom: 1px solid #efefef;
}

input {
    width: 100%;
    border: none;
}

.password_ul li:last-child {
    border: none;
}

.password_div {
    margin: .4rem .2rem 0;
    background: #0299ec;
    text-align: center;
    height: 1.16rem;
    border-radius: .1rem;
    line-height: 1.16rem;
    font-size: 0.4rem;
    color: #fff;
}

















