.order_form {
    margin: .2rem 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: .3rem 0 .5rem;
    background: #fff;
}

.order_form_div {
    overflow: hidden;
    position: relative;
    margin: 0 .2rem;
}

.order_form__div {
    overflow: hidden;
}

.order_form__div_p {
    float: left;
    font-size: .38rem;
    color: #333333;
}

.order_form__div_p span {
    display: inline-block;
    margin-top: .1rem;
}

.order_form__div_p img {
    vertical-align: middle;
    width: 0.82rem;
    height: .82rem;
    margin: 0 .2rem 0 0;
}

.order_form__div_p2 {
    float: right;
    color: #e4a614;
    line-height: .5rem;
}

.order_form__div_p2 img {
    vertical-align: middle;
    width: .26rem;
    height: .26rem;
    display: inline-block;
    margin-top: .2rem;
    margin-right: -.1rem;
}

.order_form__div_p2_span {
    font-size: .2rem;
}

.order_form__div_p2_span2 {
    font-size: .26rem;
}

.order_form__div_bottom {
    font-size: .28rem;
    color: #999999;
    padding: .2rem 0 0;
}

.commodity {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: .2rem;
}

.commodity_ul {
    overflow: hidden;
    position: relative;
}

.commodity_li {
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding: 0.5rem 0;
    overflow: hidden;
    background: #fff;
}

.commodity_li_div {
    margin: 0 .3rem;
    overflow: hidden;
}

.commodity_li_div_img {
    width: 2.69rem;
    height: 1.4rem;
    float: left;
    margin-right: 0.3rem;
}

.commodity_li_div_right {
    float: left;
    overflow: hidden;
}

.commodity_li_div_p {
    font-size: 0.4rem;
    color: #333333;
    line-height: .48rem;
}

.commodity_li_div_span {
    margin-left: .2rem;
    color: #fff;
    background: #ff4e00;
    font-size: 0.28rem;
    padding: .1rem .2rem;
    border-radius: .1rem;
}

.commodity_li_div_p2 {
    font-size: .32rem;
    color: #0299ec;
    padding: .1rem 0;
}

.commodity_li_div_p3 {
    font-size: .32rem;
    color: #999999;
    padding: 0 0 .1rem;
}

.commodity_li_divdiv {
    overflow: hidden;
    width: 6.36rem;
}

.commodity_li_divdiv_p {
    float: left;
}

.commodity_li_divdiv_p2 {
    float: right;
    font-size: .28rem;
    color: #999;
    margin-top: .3rem;
}

.commodity_li_divdiv_p_span {
    font-size: .44rem;
    color: #ff4e00;
}

.commodity_li_divdiv_p_span2 {
    font-size: 0.32rem;
    color: #0299ec;
    margin-right: .2rem;
}

.commodity_li_divdiv_p_span3 {
    font-size: 0.32rem;
    color: #999999;
}

.payment {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: .2rem;
    padding-bottom: 3rem;
}

.payment_ul {
    overflow: hidden;
    position: relative;
}

.payment_li {
    padding: .2rem 0;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #d0d0d0;
    font-size: .32rem;
    color: #333;
}

.payment_li_div {
    margin: 0 .3rem;
    overflow: hidden;
    position: relative;
}

.payment_li_div_img {
    display: inline-block;
    width: .77rem;
    height: .77rem;
    margin-right: .2rem;
    vertical-align: middle;
}

.payment_li_div_p {
    float: left;
}

.invoicesareraised_li_div {
    border: 1px solid #999999;
    border-radius: 50%;
    width: 0.41rem;
    height: .41rem;
    background: #fff;
    float: right;
    margin-top: .1rem;
}

.invoicesareraised_li_div img {
    vertical-align: middle;
    margin: .12rem auto 0;
    display: block;
}

.invoicesareraised_li_div2 {
    border-color: #1d94d9;
    background: #1d94d9;
}

.settlement {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 11;
    width: 100%;
    height: 1.266rem;
    -moz-box-shadow: 0px -1px 5px #D9D9D9;
    -webkit-box-shadow: 0px -1px 5px #D9D9D9;
    box-shadow: 0px -1px 5px #D9D9D9;
}

.settlement_left {
    float: left;
    padding-left: .3rem;
    overflow: hidden;
    font-size: .32rem;
    color: #666666;
    line-height: 1.266rem;
    margin-right: .8rem;
}

.settlement_in_p {
    font-size: .32rem;
    color: #333;
}

.settlement_in_p span {
    font-size: 0.4rem;
    color: #ff4e00;
}

.settlement_right {
    height: 1.266rem;
    float: right;
    padding: 0 1rem;
    background: #0299ec;
    line-height: 1.266rem;
    font-size: .36rem;
    color: #fff;
}


