.section {
    width: 100%;
    background: #fff;
    overflow: hidden;
    margin-top: .2rem;
}

.section_top {
    padding: .4rem 0;
    overflow: hidden;
    font-size: .48rem;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
}

.section_img {
    display: block;
    margin: 0 auto .2rem;
    width: 1.8rem;
    height: 1.8rem;
}

.section_top p {
    margin-bottom: .1rem;
}

.section_in {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: .4rem 0;
}

.section_in_div {
    padding: 0.2rem .3rem;
    position: relative;
    line-height: .6rem;
    font-size: .32rem;
    color: #333333;
    border-bottom: 1px solid #d0d0d0;
}
.section_in_div:nth-last-of-type(1) {
    border-bottom: none;
}


.section_in_div_span {
    color: #0299ec;
}

.payment_ul {
    margin: .4rem .3rem 0;
    overflow: hidden;
    position: relative;
}

.payment_ul li {
    width: 4.4rem;
    overflow: hidden;
    text-align: center;
    padding: .2rem 0;
    font-size: .36rem;
}

.payment_ul a:nth-child(odd) {
    float: left;
    border: 1px solid #0299ec;
    color: #0299ec;
    border-radius: .1rem;
}

.payment_ul a:nth-child(even) {
    float: right;
    border: 1px solid #7dbe32;
    color: #7dbe32;
    border-radius: .1rem;
}
























