<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="full-screen" content="yes">
    <!-- <meta name="x5-fullscreen" content="true"> -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>学习</title>
    <!--flexible布局-->
    <script src="../../js/flexible.js"></script>
    <!--公共引用-->
    <script src="../../js/jquery-2.1.4.js"></script>
    <script src="../../js/index_top.js"></script>
    <link rel="stylesheet" href="../../plug/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../../plug/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/course/course_index.css">
    <link rel="stylesheet" href="../../css/course/learning.css">
</head>
<body>
<div id="app_body"  v-cloak>
    <div class="nav__top">
        <!--暂时的头部-->
        <img class="nav__top_left" src="../../img/course/return_03_03.png" alt="">
        中医基础理论
    </div>
    <div class="find_nav">
        <div class="find_nav_left">
            <div class="find_nav_list">
                <ul>
                    <li tad-data="zero" class="find_nav_cur"><a href="javascript:void(0)">课时</a></li>
                    <li tad-data="one"><a href="javascript:void(0)">习题</a></li>
                    <li tad-data="two"><a href="javascript:void(0)">讲义</a></li>
                    <li tad-data="three"><a href="javascript:void(0)">问答</a></li>
                    <li tad-data="four"><a href="javascript:void(0)">通知</a></li>
                    <li tad-data="five"><a href="javascript:void(0)">班级</a></li>
                    <li tad-data="six"><a href="javascript:void(0)">详情</a></li>
                    <li class="sideline">
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--课时目录-->
    <div class="catalog">
        <div class="video_div">

        </div>
        <ul class="catalog_ul">
            <li class="catalog_li">
                <div class="catalog_li_div">
                    <p class="catalog_li_div_p">
                        <span>1</span>考纲解读
                    </p>
                    <img class="catalog_li_div_img" src="../../img/course/slideDown8_03.png" alt="">
                </div>
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="catalog_li">
                <div class="catalog_li_div">
                    <p class="catalog_li_div_p">
                        <span>1</span>考纲解读
                    </p>
                    <img class="catalog_li_div_img" src="../../img/course/slideDown8_03.png" alt="">
                </div>
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="catalog_li">
                <div class="catalog_li_div">
                    <p class="catalog_li_div_p">
                        <span>1</span>考纲解读
                    </p>
                    <img class="catalog_li_div_img" src="../../img/course/slideDown8_03.png" alt="">
                </div>
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="catalog_li">
                <div class="catalog_li_div">
                    <p class="catalog_li_div_p">
                        <span>1</span>考纲解读
                    </p>
                    <img class="catalog_li_div_img" src="../../img/course/slideDown8_03.png" alt="">
                </div>
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <div class="catalog_text">
                                <p class="catalog_text_p">
                                    1-2 页头、正文、页脚的宏观布局
                                </p>
                                <p class="catalog_text_p2">
                                    <span class="catalog_text_p2_span">40题</span><span
                                        class="catalog_text_p2_span2">40题</span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--习题-->
    <div class="exercises">
        <div class="sound_effects_wa">
            <div class="sound_effects">
                <ul class="exercises_ul">
                    <li>
                        <img src="../../img/course/error_03.png" alt="">
                        错题集
                    </li>
                    <li>
                        <img src="../../img/course/collection_05.png" alt="">
                        收藏题
                    </li>
                    <li>
                        <img src="../../img/course/answerreport_07.png" alt="">
                        答题报告
                    </li>
                    <li>
                        <img src="../../img/course/effect_09.png" alt="">
                        效果评估
                    </li>
                </ul>
            </div>
        </div>
        <div class="exercises_nav">
            <div class="exercises_left exercises_left2">
                <p class="exercises_left_p"> 章节练习</p>
                <p class="exercises_left_p_2">

                </p>
            </div>
            <div class="exercises_left">
                <p class="exercises_left_p"> 模拟考试</p>
                <p class="exercises_left_p_2">

                </p>
            </div>

        </div>
        <!--章节练习-->
        <div class="chapter">
            <ul class="chapter_ul">
                <li>
                    <p class="chapter_p">1</p>
                    <div class="chapter_div">
                        <p class="chapter_div_p">
                            第一章 中医基础理论章节练习
                        </p>
                        <p class="chapter_div_p2">
                            上次练习错题率 <span>40%</span>
                        </p>
                    </div>
                    <div class="chapter_right">
                        立即答题
                    </div>
                </li>
                <li>
                    <p class="chapter_p">1</p>
                    <div class="chapter_div">
                        <p class="chapter_div_p">
                            第一章 中医基础理论章节练习
                        </p>
                        <p class="chapter_div_p2">
                            上次练习错题率 <span>40%</span>
                        </p>
                    </div>
                    <div class="chapter_right">
                        立即答题
                    </div>
                </li>
                <li>
                    <p class="chapter_p">1</p>
                    <div class="chapter_div">
                        <p class="chapter_div_p">
                            第一章 中医基础理论章节练习
                        </p>
                        <p class="chapter_div_p2">
                            上次练习错题率 <span>40%</span>
                        </p>
                    </div>
                    <div class="chapter_right">
                        立即答题
                    </div>
                </li>
                <li>
                    <p class="chapter_p">1</p>
                    <div class="chapter_div">
                        <p class="chapter_div_p">
                            第一章 中医基础理论章节练习
                        </p>
                        <p class="chapter_div_p2">
                            上次练习错题率 <span>40%</span>
                        </p>
                    </div>
                    <div class="chapter_right">
                        立即答题
                    </div>
                </li>
                <li>
                    <p class="chapter_p">1</p>
                    <div class="chapter_div">
                        <p class="chapter_div_p">
                            第一章 中医基础理论章节练习
                        </p>
                        <p class="chapter_div_p2">
                            上次练习错题率 <span>40%</span>
                        </p>
                    </div>
                    <div class="chapter_right">
                        立即答题
                    </div>
                </li>
            </ul>
        </div>
        <!--模拟考试-->
        <div class="simulation">
            <ul>
                <li class="simulation_li">
                    <p class="simulation_li_p">
                        2018中医执业 中医基础理论模拟考试
                    </p>
                    <ul class="simulation_ul">
                        <li>
                            <p>
                                试券满分：<span class="simulation_span">100分</span>
                            </p>
                            <p>
                                上次得分：<span class="simulation_span2">80分</span>
                            </p>
                            <div class="simulation_li_div">
                                查看报告
                            </div>
                        </li>
                        <li>
                            <p>
                                限时：<span class="simulation_span">120分钟</span>
                            </p>
                            <p>
                                排名：<span class="simulation_span3">11名</span>
                            </p>
                            <div class="simulation_li_div2">
                                错题解析
                            </div>
                        </li>
                        <li>
                            <p class="simulation_ullip">
                                总题数：<span class="simulation_span">150道</span>
                            </p>
                            <div class="simulation_li_div">
                                查看报告
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="simulation_li">
                    <p class="simulation_li_p">
                        2018中医执业 中医基础理论模拟考试
                    </p>
                    <ul class="simulation_ul">
                        <li>
                            <p>
                                试券满分：<span class="simulation_span">100分</span>
                            </p>
                            <p>
                                上次得分：<span class="simulation_span2">80分</span>
                            </p>
                            <div class="simulation_li_div">
                                查看报告
                            </div>
                        </li>
                        <li>
                            <p>
                                限时：<span class="simulation_span">120分钟</span>
                            </p>
                            <p>
                                排名：<span class="simulation_span3">11名</span>
                            </p>
                            <div class="simulation_li_div2">
                                错题解析
                            </div>
                        </li>
                        <li>
                            <p class="simulation_ullip">
                                总题数：<span class="simulation_span">150道</span>
                            </p>
                            <div class="simulation_li_div">
                                查看报告
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="simulation_li">
                    <p class="simulation_li_p">
                        2018中医执业 中医基础理论模拟考试
                    </p>
                    <ul class="simulation_ul">
                        <li>
                            <p>
                                试券满分：<span class="simulation_span">100分</span>
                            </p>
                            <p>
                                上次得分：<span class="simulation_span2">80分</span>
                            </p>
                            <div class="simulation_li_div">
                                查看报告
                            </div>
                        </li>
                        <li>
                            <p>
                                限时：<span class="simulation_span">120分钟</span>
                            </p>
                            <p>
                                排名：<span class="simulation_span3">11名</span>
                            </p>
                            <div class="simulation_li_div2">
                                错题解析
                            </div>
                        </li>
                        <li>
                            <p class="simulation_ullip">
                                总题数：<span class="simulation_span">150道</span>
                            </p>
                            <div class="simulation_li_div">
                                查看报告
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="simulation_li">
                    <p class="simulation_li_p">
                        2018中医执业 中医基础理论模拟考试
                    </p>
                    <ul class="simulation_ul">
                        <li>
                            <p>
                                试券满分：<span class="simulation_span">100分</span>
                            </p>
                            <p>
                                上次得分：<span class="simulation_span2">80分</span>
                            </p>
                            <div class="simulation_li_div">
                                查看报告
                            </div>
                        </li>
                        <li>
                            <p>
                                限时：<span class="simulation_span">120分钟</span>
                            </p>
                            <p>
                                排名：<span class="simulation_span3">11名</span>
                            </p>
                            <div class="simulation_li_div2">
                                错题解析
                            </div>
                        </li>
                        <li>
                            <p class="simulation_ullip">
                                总题数：<span class="simulation_span">150道</span>
                            </p>
                            <div class="simulation_li_div">
                                查看报告
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!--班级-->
    <div class="class_div">
        <div class="class_banner">
            <img class="class_banner_img" src="../../img/course/class_banner_02.png" alt="">
            <div class="class_banner_div">
                <div class="class_banner_left">
                    <p class="class_banner_left_p">
                        {{class_type}}
                    </p>
                    <p class="class_banner_left_p2">
                        {{class_type2}}
                    </p>
                </div>
                <div class="class_banner_right">
                    <img src="../../img/course/class_user_03.png" alt="">{{study_num}}学员在学习
                </div>
            </div>
        </div>
        <div class="class_nav">
            <ul class="class_nav_ul">
                <li class="class_nav_ulli" v-for="(rank_name,rank_index) in rank_names" v-on:click="select_rank_index(rank_index)">
                    <p :class="{'class_nav_ul_p':rank_index==current_rank_index}">
                        {{rank_name}}
                    </p>
                    <p v-if="rank_index==current_rank_index" class="class_nav_ul_p2"></p>
                </li>
            </ul>
        </div>
        <div class="ranking">
            <p class="ranking_p">
              您的学习时间共计 <span class="ranking_p_span">{{study_time}}分钟</span>，打败了<span>{{beat_num}}名</span>童鞋，当前排名<span>{{current_rank}}名</span>
            </p>
        </div>
        <!--听课勤奋排行-->
        <ul v-if="0==current_rank_index" class="diligence">
            <li class="diligence_li" v-for="(rank_data,rank_index) in data_list">
                <div class="diligence_div">
                    <img v-if="rank_index==0" class="class_one" src="../../img/course/class_one_09.png" alt="">
                    <img v-if="rank_index==1" class="class_one" src="../../img/course/class_two_16.png" alt="">
                    <img v-if="rank_index==2" class="class_one" src="../../img/course/class_three_18.png" alt="">
                    <div v-if="rank_index>2" class="class_two">
                        {{rank_index + 1}}
                    </div>
                    <div class="diligence_left">
                        <img class="diligence_left_img" :src="rank_data.img" alt="">
                        <div class="diligence_left_left">
                            <p class="diligence_left_left_p">
                                {{secret_tel(rank_data.tel)}}
                                <span>( 昵称：{{rank_data.nick_name}} )</span>
                            </p>
                           <p class="diligence_left_left_p2">
                               <img src="../../img/course/headset_03.png" alt="">听课时长： <span>{{rank_data.time}}</span>个小时
                           </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>


        <!--答题勤奋排行-->
        <ul v-if="1==current_rank_index" class="diligence_two">
            <li class="diligence_li" v-for="(rank_data,rank_index) in data_list">
                <div class="diligence_div">
                    <img v-if="rank_index==0" class="class_one" src="../../img/course/class_one_09.png" alt="">
                    <img v-if="rank_index==1" class="class_one" src="../../img/course/class_two_16.png" alt="">
                    <img v-if="rank_index==2" class="class_one" src="../../img/course/class_three_18.png" alt="">
                    <div v-if="rank_index>2" class="class_two">
                        {{rank_index + 1}}
                    </div>
                    <div class="diligence_left">
                        <img class="diligence_left_img" :src="rank_data.img" alt="">
                        <div class="diligence_left_left">
                            <p class="diligence_left_left_p">
                                {{secret_tel(rank_data.tel)}}
                                <span>( 昵称：{{rank_data.nick_name}} )</span>
                            </p>
                          <div class="diligence_left_left_p2">
                              <p class="diligence_left_left_pp">
                                  <img src="../../img/course/modify__03.png" alt="">做题数： <span>{{rank_data.num}}</span>道
                              </p>
                              <p class="diligence_left_left_pp2">
                                  <img src="../../img/course/correct__05.png" alt="">确认率： <span>{{rank_data.rate}}</span>
                              </p>
                          </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>


        <!--正确率排行-->
        <ul v-if="2==current_rank_index" class="diligence_three">
            <li class="diligence_li" v-for="(rank_data,rank_index) in data_list">
                <div class="diligence_div">
                    <img v-if="rank_index==0" class="class_one" src="../../img/course/class_one_09.png" alt="">
                    <img v-if="rank_index==1" class="class_one" src="../../img/course/class_two_16.png" alt="">
                    <img v-if="rank_index==2" class="class_one" src="../../img/course/class_three_18.png" alt="">
                    <div v-if="rank_index>2" class="class_two">
                        {{rank_index + 1}}
                    </div>
                    <div class="diligence_left">
                        <img class="diligence_left_img" src="../../img/course/class_banner_02.png" alt="">
                        <div class="diligence_left_left">
                            <p class="diligence_left_left_p">
                                {{secret_tel(rank_data.tel)}}
                                <span>( 昵称：{{rank_data.nick_name}} )</span>
                            </p>
                            <div class="diligence_left_left_p2">
                                <p class="diligence_left_left_pp3">
                                    <img src="../../img/course/correct__05.png" alt="">确认率： <span>{{rank_data.rate}}</span>
                                </p>
                                <p class="diligence_left_left_pp">
                                    <img src="../../img/course/modify__03.png" alt="">做题数： <span>{{rank_data.num}}</span>道
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
</body>
<!--layui框架.js-->
<script src="../../plug/layui/layui.js"></script>
<!--vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--插入页面元素统一JS-->
<script src="../../js/index_footer.js"></script>
<script type="text/javascript">

    var vm = new Vue({
        el:'#app_body',
        data:{
            current_rank_index:0,//当前的排名种类
            rank_names:['听课勤奋排行','答题勤奋排行','正确率排行'],//排名的名字
            class_type:'真题讲解班',//班级类型
            class_type2:'中西医执业助理',//中西医执业助理
            study_num:'320',//学习人数
            study_time:'398',//学习时长
            beat_num:'20',//打败多少同学
            current_rank:'31',//当前排名
            data_list:[],//排行数据
        },
        methods:{
            //选择是哪个排行榜
            select_rank_index(index){
                vm.current_rank_index = index;
                if(index==0){
                    vm.data_list = temp_data.data_list1;
                }else if(index==1){
                    vm.data_list = temp_data.data_list2;
                }else if(index==2){
                    vm.data_list = temp_data.data_list3;
                }
            }
        }
    })



    //请求数据
    function get_data() {

        var para = ''
        yaqooNetPost('',para,function (data) {
            if(data['code'] == 1000){
                //处理数据
            }else {
                alert(data['message']);
            }
        })
    }
    // get_data()

    //隐藏手机号中间四位
    function secret_tel(tel) {
        return tel.substr(0,2) + '****' + tel.substr(6,10);
    }



    //假数据
    var temp_data = {
        'study_time':'398',//学习时间
        'beat_num':'33',//打败同学数目
        'rank':'22',//当前排名
        //听课勤奋排行数据
        'data_list1':[
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'time':'400',//听课时长
                'nick_name':'李元芳'//昵称
            },
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'time':'400',//听课时长
                'nick_name':'李元芳'//昵称
            },
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'time':'400',//听课时长
                'nick_name':'李元芳'//昵称
            },
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'time':'400',//听课时长
                'nick_name':'李元芳'//昵称
            }
        ],
        //答题勤奋排行
        data_list2:[
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'num':'400',//做题数目
                'rate':'90%'//做题正确率
            },
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'num':'400',//做题数目
                'rate':'90%'//做题正确率
            },
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'num':'400',//做题数目
                'rate':'90%'//做题正确率
            },
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'num':'400',//做题数目
                'rate':'90%'//做题正确率
            }
        ],
        //正确率排行
        data_list3:[
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'num':'400',//做题数目
                'rate':'90%'//做题正确率
            },
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'num':'400',//做题数目
                'rate':'90%'//做题正确率
            },
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'num':'400',//做题数目
                'rate':'90%'//做题正确率
            },
            {
                'img':'../../img/answer/collection_07.png',//用户头像
                'tel':'18510468041',//用户电话
                'num':'400',//做题数目
                'rate':'90%'//做题正确率
            }
        ]
    }
    vm.data_list = temp_data.data_list1;

    $(function () {
        $(".find_nav_list").css("left", sessionStorage.left + "px");
        $(".find_nav_list li").each(function () {
            if ($(this).find("a").text() == sessionStorage.pagecount) {
                $(".sideline").css({left: $(this).position().left});
                $(".sideline").css({width: $(this).outerWidth()});
                $(this).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");

                return false
            }
            else {
                $(".sideline").css({left: 0});
                $(".find_nav_list li").eq(0).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
            }
        });
        var nav_w = $(".find_nav_list li").first().width();
        $(".sideline").width(nav_w);
        $(".find_nav_list li").on('click', function () {

            nav_w = $(this).width();
            $(".sideline").stop(true);
            $(".sideline").animate({left: $(this).position().left}, 300);
            $(".sideline").animate({width: nav_w});
            $(this).addClass("find_nav_cur").siblings().removeClass("find_nav_cur");
            var fn_w = ($(".find_nav").width() - nav_w) / 2;
            var fnl_l;
            var fnl_x = parseInt($(this).position().left);
            if (fnl_x <= fn_w) {
                fnl_l = 0;
            } else if (fn_w - fnl_x <= flb_w - fl_w) {
                fnl_l = flb_w - fl_w;
            } else {
                fnl_l = fn_w - fnl_x;
            }
            $(".find_nav_list").animate({
                "left": fnl_l
            }, 300);
            sessionStorage.left = fnl_l;
            var c_nav = $(this).find("a").text();

        });
        var fl_w = $(".find_nav_list").width();
        var flb_w = $(".find_nav_left").width();
        $(".find_nav_list").on('touchstart', function (e) {
            var touch1 = e.originalEvent.targetTouches[0];
            x1 = touch1.pageX;
            y1 = touch1.pageY;
            ty_left = parseInt($(this).css("left"));
        });
        $(".find_nav_list").on('touchmove', function (e) {
            var touch2 = e.originalEvent.targetTouches[0];
            var x2 = touch2.pageX;
            var y2 = touch2.pageY;
            if (ty_left + x2 - x1 >= 0) {
                $(this).css("left", 0);
            } else if (ty_left + x2 - x1 <= flb_w - fl_w) {
                $(this).css("left", flb_w - fl_w);
            } else {
                $(this).css("left", ty_left + x2 - x1);
            }
            if (Math.abs(y2 - y1) > 0) {
                e.preventDefault();
            }
        });
    })
</script>
</html>