body {
    background: #f0f0f0;
}

.nav__top {
    background: #1e2028;
    color: #fff;
}

.find_nav {
    width: 100%;
    height: 0.875rem;
    font-size: .36rem;
    z-index: 99;
    border-bottom: 1px solid #ddd;
    display: -moz-box;
    display: -webkit-box;
}

.find_nav_left {
    position: relative;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.find_nav_list {
    position: absolute;
    left: 0;
}

.find_nav_list ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    background: #fff;
}

.find_nav_list ul li {
    display: inline-block;
    padding: 0 .4rem;
}

.find_nav_list ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: .875rem;
    font-size: 0.4rem;
    text-align: center;

}

.find_nav_cur a {
    color: #0299ec;
}

.sideline {
    display: block;
    position: absolute;
    border: 0;
    height: 2px;
    background-color: #0299ec;
    left: 0;
    top: 0.82rem;
    pointer-events: none;
}

.sideline span {
    position: absolute;
    bottom: -.2rem;
    left: 50%;
    margin-left: -.05rem;
    width: 0;
    height: 0;
    border-left: .1rem solid transparent;
    border-right: .1rem solid transparent;
    border-top: .2rem solid #0299ec;
}

.list_div {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: .2rem;
}

.list_ul {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.list_li {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: .3rem 0;
    background: #fff;
    border-bottom: 1px solid #d1d1d1;
}

.list_li_div {
    overflow: hidden;
    margin: 0 .2rem;
}

.list_li_img {
    border-radius: 50%;
    float: left;
    margin-right: .2rem;
    width: 1.29rem;
    height: 1.29rem;
}

.list_li_div_right {
    overflow: hidden;
    position: relative;
    font-size: .28rem;
    color: #333333;
}

.list_li_div_top {
    overflow: hidden;
}

.list_li_div_top_left {
    float: left;
}

.list_li_div_top_left_span {
    color: #000000;
    font-size: .32rem;
    margin-right: .4rem;
}

.list_li_div_top_left_span2 {
    font-size: .24rem;
    color: #777777;
}

.list_li_div_top_right {
    float: right;
    font-size: .28rem;
    color: #ff7e00;
}

.list_li_div_top_right img {
    vertical-align: middle;
    width: .4rem;
    margin-right: .1rem;
    margin-top: -.1rem;
}

.list_li__p {
    color: #0299ec;
    font-size: .36rem;
    padding: .2rem 0;
}



















