
.nav__top {
    color: #fff;
    background: #1e2028;
}

.nav__top_left {
    float: left;
    margin: .1rem 0 0 0.32rem;
    width: 0.29rem;
    height: 0.54rem;
    vertical-align: middle;
}

.nav__top_right img {
    display: block;
    width: .6rem;
}

.find_nav {
    width: 100%;
    height: 1.1rem;
    font-size: .36rem;
    z-index: 99;
    display: -moz-box;
    display: -webkit-box;
}

.find_nav_left {
    position: relative;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
}

.find_nav_list {
    position: absolute;
    left: 0;
}

.find_nav_list ul {
    position: relative;
    white-space: nowrap;
    font-size: 0;
    background: #fff;
}

.find_nav_list ul li {
    display: inline-block;
    padding: 0 .4rem;
}

.find_nav_list ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1.1rem;
    font-size: 0.4rem;
    text-align: center;

}

.find_nav_cur a {
    color: #0299ec;
}

.sideline {
    display: block;
    position: absolute;
    border: 0;
    height: 2px;
    background-color: #0299ec;
    left: 0;
    bottom: 0;
    pointer-events: none;
}

.handout_div {
    width: 100%;
    overflow: hidden;
    padding-bottom: .2rem;
    color: #666666;
    margin-top: .2rem;
    background: #fff;
}

.handout_h4 {
    padding: .2rem 0;
    overflow: hidden;
    border-bottom: 1px solid #d9d9d9;
    background: #fff;
}

.handout_h4 p {
    padding: 0 .2rem;
    font-size: .4rem;
    color: #333333;
}

.handout_data {
    margin: 0 .2rem;
    font-size: .32rem;
    line-height: .6rem;
    padding: .2rem 0;
    background: #fff;
}

.handout_data_p {
    text-indent: 2em;
}

.handout_data_div{
    width: 100%;
    background: #fff;
    overflow: hidden;
}



.handout_h4__p{
    float: left;
    overflow: hidden;
}
.handout_h4__p2{
    float: right;
    font-size: .2rem!important;
    color: #999999!important;
    margin-top: .1rem;
}

.handout_div2{
    width: 100%;
    overflow: hidden;
    color: #666666;
    padding-top: .2rem;
    background: #f0f0f0;
}
