<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="full-screen" content="yes">
    <!-- <meta name="x5-fullscreen" content="true"> -->
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>设置密码</title>
    <!--flexible布局-->
    <script src="../../js/flexible.js"></script>
    <!--公共引用-->
    <script src="../../js/jquery-2.1.4.js"></script>
    <script src="../../js/index_top.js"></script>
    <script src="../../js/regular.js"></script>
    <link rel="stylesheet" href="../../plug/layui/css/layui.mobile.css">
    <link rel="stylesheet" href="../../plug/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../css/index.css">
    <!--登录页面公共.css-->
    <link rel="stylesheet" href="../../css/login/login_index.css">
    <!--本页面引入-->
    <link rel="stylesheet" href="../../css/login/land.css">
    <style>
        [v-cloak]: {
            display: none;
        }
    </style>
</head>
<body>
<div id="app_body" v-cloak>
    <div class="nav__top">
        <!--暂时的头部-->
        <img v-on:click="to_back" class="nav__top_left" src="../../img/company_info/return_03.png" alt="">
        设置密码
    </div>
    <div :class="{show_class:1}" class="login_account">
        <ul class="login_account_ul">
            <li>
                <input v-model="tel"  disabled="true" type="number" style="color: #999">
            </li>
            <li class="login_account_ulli">
                <input v-model="r_code" placeholder="验证码" type="text" class="login_account_input">
                <span v-bind:is-ok="is_ok"  class="login_account_span" v-on:click="time">获取验证码</span>
            </li>
            <li>
                <input v-model="pwd" type="password"  placeholder="密码" type="text">
            </li>
        </ul>
        <a href="##">
            <p class="login_account_p">
                收不到短信吗？点击切换语音
            </p>
        </a>
    </div>
    <div v-on:click="make_reset" class="register">
        确定
    </div>
</div>
</body>
<!--layui框架.js-->
<script src="../../plug/layui/layui.js"></script>
<!--vue.js-->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!--插入页面元素统一JS-->
<script src="../../js/index_footer.js"></script>
<script>
    var app_body = new Vue({
        el:'#app_body',
        data:{
            tel:'',
            is_ok:'true',
            pwd:'',
            r_code:'',
            receive_code:'',
            sms_id:'',
        },
        methods:{
            //点击发送验证码
            time(){
                click_sendCode($(event.currentTarget));
            },
            //点击确定重置密码
            make_reset(){
                reset_pwd();
            },
            //点击返回
            to_back(){
                union_back();
            },
            init (tel) {
                app_body.tel = tel
            }

        }

    });


    var tel = localStorage.getItem('USER_TEL')
    app_body.init(tel)
    //点击发送验证码
    function click_sendCode(this_data) {
       /* if(!checkTel(app_body.tel)){
            alert('请输入正确格式的手机号');
            return;
        }*/
        if (app_body.is_ok == 'true') {
            send_code();
            var new_time = 60;
            app_body.is_ok = 'false';
            var clock = setInterval(function () {
                //倒计时 并存储
                --new_time;
                if (new_time <= 0) {
                    this_data.html('获取验证码');
                    app_body.is_ok = 'true';
                    clearInterval(clock);

                } else {
                    this_data.html(new_time + '秒后发送');
                }
            }, 1000)
        } else {
            console.log(app_body.is_ok);
            //return;
        }
    }

    //发送验证码网络请求
    function send_code() {
        yaqooNetPost('User/send_code',{username:app_body.tel},function (data) {
            if(data['code']==1000){
                console.log(data);
                alert('发送成功')
                app_body.receive_code = data["phone_code"];
                app_body.sms_id = data["sms_id"];
            }else {
                alert('发送失败')
            }
        })
    }

    //点击确定重置密码
    function reset_pwd() {
        
        

        if(!checkTel(app_body.tel)){
            alert('请输入正确格式的手机号');
            return;
        }
        if(!Validator_PassWord(app_body.pwd)){
            alert('请输入正确格式的密码')
            return;
        }
        //发送请求
        var para = {
            username:app_body.tel,
            new_password:app_body.pwd,
            pass_type:'1',
            sms_status:'1',
            sms_code:app_body.r_code,
            sms_id:app_body.sms_id
        }
        yaqooNetPost('User/editPass',para,function (data) {
            // alert('===' + app_body.tel + '====' + app_body.new_pwd1)
            if(data['code']==1000){
                alert('设置成功');
               	union_back()
            }else {
                alert(data['message'])
            }
        })
    }

</script>
</html>
